<?php

namespace App\Dto;

final class EntityDto
{
    public ?int $property = null;

    /**
     * @return int
     */
    public function getProperty(): int
    {
        return $this->property;
    }
}